<div class="container mx-auto bg-gray-50 p-12 border-gray-400 border-2 rounded-xl shadow-2xl grid grid-cols-6 gap-4">
    {% if site.title != '' %}  
    <div class="col-span-6 ">
      <img class="w-full h-64 bl-logo" src="/img/posts/svg-trans.svg" title="{{ site.title }}">

      {% if site.description != '' or site.enable_contact == true %}
      <p class="text-center">
        {% if site.description != '' %}
        {{site.description}}
        {% endif %}

        {% if site.enable_contact == true %}
        {% include contact.html %}
        {% include contact-modal.html %}
        {% endif %}
      </p>
      {% endif %}
    </div>
    {% endif %}

    <div class=""><!-- spacer --></div>
    <div class="col-span-6 text-center">

      {% if site.facebook != '' %}
        <a href="https://facebook.com/{{ site.facebook_username }}">
          <button class="p-4 ml-8 bg-gray-900 rounded-lg text-gray-50 shadow-lg border-2 border-gray-900">
          <i class="fa mr-3 fa-facebook fa-lg"></i>
            Facebook
        </button>
      </a>
      {% endif %}
      <a href="mailto:snorri@byggdalagnir.is">
        <button class="p-4 ml-8 bg-gray-900 rounded-lg text-gray-50 shadow-lg border-2 border-gray-900">
          <i class="fa mr-3 fa-envelope fa-lg"></i>
          snorri@byggdalagnir.is
        </button>
      </a>
      
      <button class="p-4 ml-8 bg-gray-900 rounded-lg text-gray-50 shadow-lg border-2 border-gray-900">
      <i class="fa mr-3 fa-phone fa-lg">           
      </i> 8679521
      </button>

    </div>
</div>
